@include styleModule('cmodule-fcitx',
  ('text-color': #cba6f7,
    'icon-color': #A6E3A1,
    'icon-background': #cba6f7,
    'label-background': #011520,
    'inner-spacing': 0em,
    'border-enabled': false,
    'icon-size': 14px));
